html, body{
    background-color:#dcdde1;
    height: 90%;
}

.wrapper{
    margin-top:100px;
    height:90%;
    flex-direction:column;
    display:flex;
    justify-content:center;
    align-items:center;
}

#title{
    font-size: 3rem;
    margin:0 0 20px 0;
    padding:0;
}

footer{
    margin-top: 20px;
    text-align:center;
}

#goBackBtn{
    position: fixed;
    top:20px;
    left: 20px;
}

#goNextBtn{
    position: fixed;
    top:20px;
    right: 20px;
}

ul, ol{
    list-style:none;
}

/*------------------home---------------*/

#logInBlock{
    display:flex;
    justify-content:center;
    align-items: center;
    margin: auto;
}

#logInForm{
    background-color:#f5f6fa;
    padding: 0 10px 20px;
    border-radius: 10px;
}

#logInForm h1{
    text-align:center;
}

/*------------------page1---------------*/

.inputForm{
    display:flex;
    flex-direction: row;
}

.fileInputForm{
    position: relative;
    display:flex;
    flex-direction: column;
    background-color:#f5f6fa;
    border-radius: 10px;
    justify-content:center;
    align-items:center;
    padding: 30px 0;
    margin:10px;
}

.fileInputForm .inputBtns{
    position:relative;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    text-align:center;
    padding-left: 5px;
    padding-right: 5px;
}

.fileInputForm video{
    height:90%;
    width:90%;
    max-height:450px;
}

.fileInputForm .videoBlock{
    text-align:center;
}

.fileInputForm .image{
    max-height:350px;
}

.uploadTitle{
    background-color: #dcdde1;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 5px;
}

/*------------------page2---------------*/

#videoWithGallery{
    height:100%;
    display: flex;
    background-color: #f5f6fa;
    margin: auto;
    border-radius: 10px;
}

#videoWithGallery #videoBlock{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#videoWithGallery video{
    width: 95%;
    margin: 0 20px;
}

#videoWithGallery #galleryBlock{
    position:relative;
    height:100%;
    width: 40%;
    text-align: center;
    border-left: 5px dashed black;
    overflow-x: auto;
}

#galleryBlock #peopleGallery{
    height:100%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: auto;
}

.videoPlayer-dimensions {
    width: 1000px;
    height: 100%;
}

.list_item{
    position:relative;
    display:flex;
    flex-direction:column;
    height: 300px;
    width: 100px;
    margin:20px;
}

.person{
    height: 200px;
    width: 100px;
}

.person_img{
    margin: auto;
    height:100%;
    width:100%;
    object-fit: fill;
}

.time_box {
    margin-top:10px;
    height: 50px;
    width: 100%;
    background-color: #ececf0;
    overflow:auto;
    border-radius: 5%;
    border: #cececf 2px solid;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.time_box p{
    margin:0 auto;
}

/*------------------page3---------------*/

#checkedImgAndContainor{
    position: absolute;
    background-color: white;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    width: 95%;
    height: 80%;
    border-radius: 10px;
    margin:auto;
}

#checkedImgAndContainor .fileInputForm{
    overflow-y: auto;
    width: 100%;
}

#checkedImgAndContainor img{
    margin:auto;
}

#checkedImgAndContainor #selectedVideos{
    display: flex;
    flex-direction:row;
    justify-content:center;
    align-items: center;
}

#selectedVideos video{
    height: 200px;
    width: 300px;
    padding:0 10px;
}
